<template>
    <div>
        <!-- Your content -->
    </div>
</template>
<script setup{{#if isGlobal}} name="{{ pascalCase name }}" {{/if}}>
// const { proxy } = getCurrentInstance()
</script>

<style lang="less" scoped>

</style>