# # 指定依赖包的镜像源
# registry=https://registry.npmjs.org/
# # 防止不支持 Node.js 版本
# engine-strict=true
# # 安装依赖时忽略lock文件。
# package-lock=false
# # 安装依赖包时指定日志类型
# # loglevel=timing
# # 固定依赖包的版本，不要带^或~，避免出现小版本
# save-exact=false
auto-install-peers=true
strict-peer-dependencies= true
# shamefully-hoist = true #依赖提升