# # 指定依赖包的镜像源
registry=https://registry.npmmirror.com/
# # 防止不支持 Node.js 版本
engine-strict=true
# # 安装依赖时是否忽略lock文件。
# package-lock=true
# # 安装依赖包时指定日志类型
# # loglevel=timing
# # 固定依赖包的版本，不要带^或~，避免出现小版本
# save-exact=false
auto-install-peers=true
# strict-peer-dependencies=false
# shamefully-hoist=true #依赖提升